.cartListItem {
    margin-top: 10px;
    margin-bottom: 20px;

}

/* .CartContainer .cart-list {
    display: flex;
} */

/* .CartContainer .cart-list li {
    color: blue;
} */

.CartContainer .cartPrice {
    display: block;
}


.btnCartRemoveItem {
    height: 20px;
    width: 20px;

}