.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}


.checkout-form-input {
    width: 35%;
    border: none;
    margin-bottom: 10px;
    border-bottom: 0.5px solid rgb(218, 148, 241);
    outline: none;
    color: rgb(128, 128, 128);
}